page-admin-swap-product {
    .productCard{
        display: block;
        height: fit-content !important;
        width: fill !important;
    }
    .cardContent{
        height: 100%;
        display: block;
        vertical-align: middle;
    }
}
