<!--
  Generated template for the AdminOrderListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Order List</ion-title>
  </ion-navbar>
  <button ion-button (click)="orderCustom()" >{{isDefaultListHidden ? 'lihat pesanan belum terkirim' : 'lihat semua pesanan'}}</button>
  <!-- <button ion-button (click)="cancelCustom()" >Cancel</button> -->
</ion-header>



<ion-content padding>

    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>

    <ion-list [hidden]="isDefaultListHidden" [virtualScroll]="listOrder">
        <ion-item-sliding *virtualItem="let item">
          <ion-item *ngIf="item.status=='pending'">
              <ion-card class="orderCard">
                  <ion-card-header no-padding style="border-bottom: 1px solid rgba(121, 121, 121, 0.356) !important;">
                    <ion-grid >
                      <ion-row>
                        <ion-col col-10>
                          <ion-row class="item_name" text-wrap>
                              <h2>{{item.name}}</h2>
                          </ion-row>
                          <ion-row style="color: orange" *ngIf="item.status=='pending'" >
                              Pending
                          </ion-row>
                          <ion-row style="color: red" *ngIf="item.status=='gagal'">
                              Stok habis
                          </ion-row>
                          <ion-row style="color: #32db64" *ngIf="item.status=='terkirim'">
                              Sudah Dikirim
                          </ion-row>
                        </ion-col>
                        <ion-col col-2>
                          <button *ngIf="item.status=='pending'" (click)="cardOption(item)" ion-button clear>
                            <ion-icon name="more"></ion-icon>
                          </button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-card-header>
                  <ion-card-content no-padding>
                    <ion-item style="border-bottom: 1px solid rgba(121, 121, 121, 0.356) !important;">
                        <a href="https://api.whatsapp.com/send?phone=62{{item.phone|slice:1:20}}"><h2>{{item.phone}}</h2></a>
                        <p>{{item.address}}</p>
                    </ion-item>
                    <ion-item>
                        <h2>{{item.order_date | date:'dd/MMM/yyyy H:mm:ss'}}</h2>
                        <ion-row>
                          <ion-col col-3>Total :</ion-col>
                          <ion-col col-9>Rp {{item.total_price | number:"1.0-0" }}</ion-col>
                        </ion-row>
                    </ion-item>
                    <button (click)="openOrderDetailPage(item)"  color="secondary" ion-item block outline text-center>
                      Order Detail
                    </button>
                  </ion-card-content>
                  
                </ion-card>
          </ion-item>
        </ion-item-sliding>
      </ion-list>

  <ion-list [hidden]="isCustomListHidden" [virtualScroll]="listOrder">
    <ion-item-sliding *virtualItem="let item">
      <ion-item >
          <ion-card class="orderCard">
              <ion-card-header no-padding style="border-bottom: 1px solid rgba(121, 121, 121, 0.356) !important;">
                <ion-grid >
                  <ion-row>
                    <ion-col col-10>
                      <ion-row class="item_name" text-wrap>
                          <h2>{{item.name}}</h2>
                      </ion-row>
                      <ion-row style="color: orange" *ngIf="item.status=='pending'" >
                          Pending
                      </ion-row>
                      <ion-row style="color: red" *ngIf="item.status=='gagal'">
                          Stok habis
                      </ion-row>
                      <ion-row style="color: #32db64" *ngIf="item.status=='terkirim'">
                          Sudah Dikirim
                      </ion-row>
                    </ion-col>
                    <ion-col col-2>
                      <button *ngIf="item.status=='pending'" (click)="cardOption(item)" ion-button clear>
                        <ion-icon name="more"></ion-icon>
                      </button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-header>
              <ion-card-content no-padding>
                <ion-item style="border-bottom: 1px solid rgba(121, 121, 121, 0.356) !important;">
                    <a href="https://api.whatsapp.com/send?phone={{item.phone}}"><h2>{{item.phone}}</h2></a>
                    <p>{{item.address}}</p>
                </ion-item>
                <ion-item >
                    <h2>{{item.order_date | date:'dd/MMM/yyyy H:m:s'}}</h2>
                    <ion-row>
                      <ion-col col-3>Total :</ion-col>
                      <ion-col col-9>Rp {{item.total_price | number:"1.0-0" }}</ion-col>
                    </ion-row>
                </ion-item>
                <button (click)="openOrderDetailPage(item)"  color="secondary" ion-item block outline text-center>
                  Order Detail
                </button>
              </ion-card-content>
              
            </ion-card>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  
  
</ion-content>


      