page-edit-user-profile {
    .main{
        position: absolute;
        top: 0 !important;
        left: 0 !important;
        display: block;
        height: 100% !important;
        width: 100% !important;
        overflow: hidden;
    }
    .infoCard{
        display: block;
        height: fit-content !important;
        width: fill !important;
    }
    
}
