page-produk-detail {
    img.bannerPic{
        height: auto;
        width: auto;
        align-items: center;
        margin: auto;
        display: block;
    }
    .detail_div{
    }
    .description{
        font-size: 20px;
    }
}

