<!--
  Generated template for the BrowseProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
      <ion-title>
        <ion-grid>
          <ion-row>
            <ion-col col-10>
                <ion-searchbar placeholder="Cari Produk"
                  [(ngModel)]="searchTerm"
                  [formControl]="searchControl"
                  (ionFocus)="searchBoxFocus($event)"
                  (ionInput)="searchBoxInput($event)"
                  (ionClear)="searchBoxClear($event)">
                </ion-searchbar>
            </ion-col>
            <ion-col col-2>
                <button (click)="cartButtonClicked()" style="background-color:rgb(52, 130, 202);" ion-button>
                  <div>
                      <ion-icon name="basket" style="margin-top:5px;">
                        <ion-badge id="notifications-badge" color="danger">{{itemCount}}</ion-badge>
                      </ion-icon>
                  </div>
                  
                  
                </button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div *ngIf="searching" class="spinner-container">
                <ion-spinner></ion-spinner>
              </div>
            </ion-col>
          </ion-row>

            
        </ion-grid>
        
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content no-padding>
    <ion-grid no-padding justify-content-center >
      <ion-row justify-content-center text-center>
      <!-- <ion-list [virtualScroll]="listFiltereditemCardsName">
      <ion-item-sliding *virtualItem="let item">
      <ion-item> -->
        <ion-col justify-content-center>
        <!-- <div col-12 col-xl-2 col-lg-3 col-md-4 justify-content-center>  -->

          <ion-card *ngFor="let item of listFiltereditemCardsName">

              <img (click)="itemCardClick(item)" src="{{imageBasepath}}{{item.photo}}"/>

              <ion-card-content no-padding>
                <ion-card-title no-padding >
                  <p class="ellipsis2">
                    {{ item.name }}
                  </p>
                  </ion-card-title>
                  <ion-grid no-padding class="product_grid">
                  <ion-row no-padding>
                      <p style="color: rgb(255, 0, 0);">
                          {{item.price | currency:"Rp ":false:"1.0" }}
                      </p>
                  </ion-row>
                  <ion-row no-padding class="beli_row2">
                    <ion-col no-padding col-6 style='color: orange; text-align: left; margin-top: 0.8vh; margin-left: 0px;'>
                        {{item.stock==0 ? 'Habis' : 'tersedia'}}
                    </ion-col>
                    <ion-col no-padding col-6>
                      <button col-12 ion-button (click)="buyClicked(item)" clear small color="secondary" icon-start>
                        <ion-icon name='cart'></ion-icon>
                        Beli
                      </button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
          </ion-card>
        <!-- </div> -->
        </ion-col>
      <!-- </ion-item>
      </ion-item-sliding>
      </ion-list> -->
      </ion-row>
    </ion-grid>
  </ion-content>

  <ion-footer no-padding>
          <button col-12 ion-button (click)="selectCategory()" small >
              Pilih kategori
          </button>
  </ion-footer>
